body {
    margin: 0;
}

.container { /*identifica a funcionalidade grid*/
    display: grid;
}

header {
    grid-column-start: 1;
    grid-column-end: 12;
    background-color: #506E6A;
}
.menu {
    grid-column-start: 6;
    grid-column-end: 12;
    justify-content: center;/*centraliza o menu*/
    gap: 20px;
}
.imagemsimone{
    grid-column-start: 1;
    grid-column-end: 3;
 }


.contato{
    grid-column-start: 11;
    grid-column-end: 12;
    background-color: #506E6A;  
}
.principal {
    grid-column-start: 4;
    grid-column-end: 12;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}
.infos{
    text-align: justify;
}
footer {
    grid-column-start: 1;
    grid-column-end: 12;
    background-color: #506E6A;
    color: white;
    text-align: justify;
}
ul {
    list-style-type: none; /*retira os marcadores da lista não ordenada*/
    color: #506E6A;
}
a,
a:link {
    text-decoration: none;
    padding: 8px 16px;
    border: solid #506E6A 1px;
}

li {
    float: left;
}

a:hover {
    background-color: #506E6A;
    color: white;
}
 /* media query para dispositivos móveis */
 @media only screen and (max-width: 767px) {
    .wrapper {
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .imagemsimone{
        grid-column-start: 1;
        grid-column-end: 1;

    }   
    .principal {
        grid-column-start: 1;
        grid-column-end: 1;

    }
}